#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#greeting-container {
  margin-top: 20px;
}

.speech-bubble {
  background-color: #f8f8f8;
  border: 2px solid #c8c8c8;
  border-radius: 10px;
  padding: 20px;
  position: absolute;
  text-align:center;
  width: 500px;
}

.speech-bubble .arrow {
  border-style: solid;
  position: absolute;
}

.arrow {
  border-color: transparent transparent #c8c8c8 transparent;
  border-width: 0px 15px 15px 15px;
  left: 50px;
  top: -15px;
}

.arrow:after {
  border-color: transparent transparent #f8f8f8 transparent;
  border-style: solid;
  border-width: 0px 13px 13px 13px;
  content: "";
  left: -13px;
  position: absolute;
  top: 3px;
}
