/* Basic layout and overall site design */
#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#greetingContainer {
  margin-top: 20px;
}

body {
  background-color: #fbfcfc;
  font-family: 'Roboto', sans-serif;
}

/* Stylizing div as a speech bubble */
.speech-bubble {
  background-color: #f8f8f8;
  border: 2px solid #c8c8c8;
  border-radius: 10px;
  padding: 20px;
  position: absolute;
  text-align:center;
  width: 500px;
}

/* Styling layout cards */
.card {
  margin: 20px;
  margin-left: 0px;
  padding-right: 20px;
  position: relative;
}

/* Adding arrow to speech bubble */
.speech-bubble .arrow {
  border-style: solid;
  position: absolute;
}

.arrow {
  border-color: transparent transparent #c8c8c8 transparent;
  border-width: 0px 15px 15px 15px;
  left: 50px;
  top: -15px;
}

.arrow:after {
  border-color: transparent transparent #f8f8f8 transparent;
  border-style: solid;
  border-width: 0px 13px 13px 13px;
  content: "";
  left: -13px;
  position: absolute;
  top: 3px;
}

/* Styling the header */
.header {
  background-color: #fbfcfc;
  font-weight: bold;
  margin-left: auto;
  margin-right:auto;
  overflow: hidden;
  padding: 20px 10px;
  width: 750px;
}

.header li {
  display: inline-block;
  list-style: none;
}

/* Stylize image in header as a profile photo */
.header img {
  border: 2px solid black;
  border-radius: 70%;
  float: left;
  height: 150px;
  margin-right: 20px;
}

/* Interactive header links */
.header a {
  color: black;
  border-radius: 4px;
  float: left;
  font-size: 1.1em;
  line-height: 25px;
  margin-left: 5px;
  padding: 12px;
  text-align: center;
  text-decoration: none;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

.header a.active {
  background-color: blue;
  color: orange;
}

/* Popup styling */
#popup {
  font-size: .8em;
  visibility: hidden;
}

#popup.show {
  visibility: visible;
}

.popup li {
  display: inline-block;
  list-style: none;
}

/* Styling the slideshow */
.slideShowNavigation {
  background-color: white;
  color: white;
  width: 400px;
}

button {
  background-color: dodgerblue;
  border: none;
  border-radius: 5px;
  color: white;
  display: inline-block;
  font-size: 1em;
  margin: 20px;  
  margin-top: 0px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  text-align: center;
  text-decoration: none;
}

.buttons li {
  display: inline-block;
  list-style: none;
}

#slideshowContentContainer img {
  border: 1px solid black;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  height: 450px;
}

#slideDescription {
  margin: 10px;
  margin-bottom: 30px;
  font-size: 1.2em;
  color: black;
}
